body {
    background-image: url(../assets/technology/background-technology-mobile.jpg);
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* --- Header --- */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between ; 
    padding: 1.5rem;
}

.header h2 {
    color: var(--white);
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}


.vehicle-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    max-width: 100vw;
    height: 170px;
    margin-top: 2rem;
}

.vehicle-img-portrait {
    display: none;
}

.dot-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;
}

.big-dot {
    color: var(--white);
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    cursor: pointer;
    border: 1px solid var(--white);
    transition: 0.5s;

}

.big-dot{
    font-family: "Bellefair", serif;
    font-size: 1rem;
    color: var(--white);
    text-decoration: none;
}

.big-dot:hover {
    color: var(--black);
}

.big-dot:hover {
    border: 2px solid var(--white);
    color: var(--darkGray);
    background: var(--white);
}


.vehicle-title {
    margin-top: 1.62rem;
    color: var(--lightPurple);
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 2.36px;
    text-align: center;
}


h1 {
    font-family: "Bellefair", serif;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 27.5px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0.5rem;
}

p {
    color: var(--lightPurple);
    font-size: 0.938rem;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    margin: 1rem 1.5rem;
}

/* --- Media Queries --- */

@media screen and (min-width: 768px) {
    body {
        background-image: url(../assets/technology/background-technology-tablet.jpg);
    }

    .header {
        display: block;
    }

    .header h2 { 
        font-size: 1.25rem;
        line-height: 24px;
        letter-spacing: 3.38px;
        margin-top: 2.5rem;
        text-align: left;
    }

    .vehicle-img {
        height: 310px;
        margin-left: calc(-50vw + 50%);
        margin-top: 3.75rem;
    }

    .dot-container {
        margin-top: 3.5rem;
    }

    .big-dot {
        width: 60px;
        height: 60px;
        font-size: 1.25rem;
    }

    .vehicle-text {
        margin-top: 2.75rem;
    }

    .vehicle-title {
        font-size: 1rem;
        line-height: 18px;
        letter-spacing: 2.6px;
        text-align: center !important;
    }

    h1 {
        margin-top:1rem ;
        font-size: 2.5rem;
        line-height: 46px;
        text-align: center;
    }

    p {
        font-size: 1rem;
        line-height: 28px;
        text-align: center;
        margin: 1rem 7.5rem;
    }

}


@media screen and (min-width: 1280px) {
    body {
        background-image: url(../assets/technology/background-technology-desktop.jpg);
    }

    .header {
        padding: 4.5rem 0 0 10rem;
    }

    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
    }
    

    .vehicle-img {
        display: none;
    }

    .vehicle-img-portrait {
        display: block;
        width: 515px;
        height: 527px;
    }

    .vehicle-text {
        margin-right: 5rem;
    }

    .dot-text-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2rem;
        gap: 1rem;
    }

    .dot-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 2rem;
        gap: 2rem;
    }

    .big-dot {
        width: 80px;
        height: 80px;
        font-size: 2rem;
    }

    .vehicle-title {
        font-size: 1rem;
        line-height: 18px;
        text-align:left !important;
    }

    h1 {
        font-size: 3.5rem;
        line-height: 64px;
        text-align: left;
    }

    p {
        font-size: 1.12rem;
        line-height: 32px;
        text-align: left !important;
        margin: 1rem 0 7.5rem 0;
    }
}   
